/*

typography is the way that text is arranged and presented.

*/

body {
    padding:10%;
    font-size: 2rem;
    color: purple;
    font-family: sans-serif;
}
/*
input, button {
    font: inherit;
} */

p {
    text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through;
    text-decoration: none;
    text-indent: 2em;
    letter-spacing: 0.0001em;
    word-spacing: 0.01em;
    font-weight: 400;
    font-style: oblique;

}